/* 初期設定 */

html {
    font-size: 2.6666666666vw;
}

@media screen and (min-width: 599px) {
    html {
        font-size: 10px;
    }
}

body {
    font-size: 1.4rem;
    line-height: 2.14285714286;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 599px) {
    body {
    font-size: 1.4rem;
    }
}




/* メイン */
.myMv {
    padding: 10rem 0 0;
}

.myMvBack {
    height: 70rem;
    width: 70rem;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -20;
    background-image: url("hashtagram.PNG");
    background-position: center;
    background-size: cover;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 2rem;
    padding: 0 1rem;
    line-height: 1.5;
    margin: 0 1rem;
    border-radius: 1rem;
    outline: none;
}


.container{
    text-align: center;
}

.instagram {
    margin: 0 auto;
    
}

.instagram ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}


.instagram li {
    margin: 1rem;
    background-color: rgb(255, 174, 24);
    padding: 3rem 1rem;
}

.instagram img {
    width: 23rem;
}

#instagram-list{
    padding: 0;
}